/* Grundläggande reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Afacad';
    letter-spacing: .1rem;
}

body {
    height: 100%;
}

header {
    position: sticky;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 4.4rem;
    top: 0;
    z-index: 1000;
    color: #383055;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100%;
}

.menu-top-container {
    background-color: #4E4E4E;
    height: 100%;
    color: #F0E6DB;
    width: 80%;
    position: static;
    top: 0;
}

.menu-bottom-container {
    background-color: #F0E6DB;
    height: 10%;
    color: #4E4E4E;
    width: 80%;
    position: static;
    bottom: 0;
}


a {
    color: inherit;
    text-decoration: none;
}

ul {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    height: 100%;
    gap: 0 2rem;
  }

li {
    display: block;
    align-items: center;
    height: 100%;
    align-content: center;
  }

li a {
    display: block;
    font-size: 1.05rem;
    height: 100%;
    align-content: center;
  }

li a:hover {
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}

button:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

button {
    cursor: pointer;
}

.logo {
    height: 4.35rem;
    align-content: center;
}

.social-icons {
    display: flex;
    margin: auto 1%;
    align-items: center;
    gap: 1.25rem;
}

img:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin: 2rem 0;
    flex: 1;
}

.img-icons img{
    height: 1.2rem;
}

.vertical-line1 {
    width: .01rem;
    height: 2.7rem;
    background-color: rgb(0, 0, 0, 0.2);
}

.vertical-line2 {
    width: .01rem;
    height: 2.2rem;
    background-color: rgb(0, 0, 0, 0.2);
}

.block-row {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.block-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h2 {
    font-family: Georgia;
    font-size: 3.3rem;
    color: #383055;
}

h3 {
    font-size: 1.5rem;
    font-weight: bolder;
}

h4 {
    font-family: Georgia;
    font-weight: lighter;
    color: #383055;
    font-size: 2.25rem;
    background-color:  rgba(240, 230, 219, 0.7);
    padding: 0.5rem 2rem 0.5rem 120px;
    border-radius: 3px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: fit-content;
    transform: translateX(-120);
}

footer {
    display: flex;
    background-color: #4E4E4E;
    bottom: 0;
    width: 100%;
    color: #F0E6DB;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 8vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Startsida */

.bakgrund-startsida {
    background-image: url('bilder/Hero_Startsida.png');
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    height: 100%;
}

.block1-startsida {
    display: flex;
    flex-direction: column;
    row-gap: .6rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 9.5rem auto;
}

.button-startsida {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5rem 10rem;
    margin-top: 4rem;
    align-items: center;
}

.button-startsida > a {
    background-color: rgba(241, 231, 219, 0.25);
    width: 19rem;
    height: 3.1rem;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    align-content: center;
    font-size: 1.25rem;
    color: white;
}

h1 {
    font-size: 2.5rem;
    font-family: Georgia;
    font-weight: lighter;
    color: white;
}

.block1-startsida p {
    font-size: 1.125rem;
    color: white;
}


/* -------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Våra Hästar */

.bakgrund-VåraHästar {
    background-image: url(Former/63.png);
    background-size: cover;
    background-attachment: fixed;
}

.hästar {
    display: flex;
    padding-left: .6rem;
    gap: 3rem 6rem;
    margin-top: 1rem;
}

.hästbilder {
    display: grid;
    gap: 1.25rem 1.9rem;
    grid-template-columns: 190px 190px 190px;
    text-align: center;
    margin-top: .5rem;
}

.hästbilder > div {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: .6rem;
}

.img-hästar-VåraHästar img {
    height: 15.6rem;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Om Oss */

.hero-om-oss {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('bilder/Nordmalings_Ridklubb1.png');
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30rem;
    width: 100vw;
    margin: 0 auto;
}

.textrutor {
    display: flex;
    gap: 0 5rem;
    align-items: baseline; 
}

.textrutor-styrelsen{
    display: flex;
    gap: 0 4rem;
}

#block-US{
    align-items: flex-start;
}

.värdegrunder {
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
}

/* Horisontell linje */
.horisontell-linje1 {
    width: 85vw;
    height: 1px;
    background-color: rgb(0, 0, 0, 0.2);
    margin: 2rem auto;
}

.block2 {
    display: flex;
    text-decoration: underline;
    margin: 0.3rem 0;
}

.block2 img{
    height: 30hv;
    margin-right: .5rem;
}


/* -------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Tävling */

.vertical-line3 {
    width: 1px;
    height: 70vh;
    margin: 0 5rem;
    background-color: rgb(0, 0, 0, 0.2);
}

video {
    width: 35rem;
}

.tävlingsfilm {
    display: flex;
}

#videotext {
    color: rgb(0, 0, 0, 0.4);
    font-size: .8rem;
}

.block-column span {
    font-weight: bolder;
}

table {
    border-spacing: .5rem;
}

th, td {
    text-align: left;
    margin-bottom: 1rem;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Börja Rida */

.registrera {
    background-color: #383055;
    color: #F0E6DB;
    font-size: 1.2rem;
    border-radius: 5px;
    text-align: center;
    margin: 2rem auto;
    padding: .9rem 2rem;
    width: fit-content;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.bakgrund-text{
    background-color: rgba(240, 230, 219, 0.7);
    border-radius: 5px;
    width: fit-content;
    text-align: right;
    align-content: center;
    padding: .8rem 2rem;
    margin-right: 0;
}

.ellipse-text {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 8rem 1rem 6rem;
}

.ellipse-text div{
    background-color: rgba(240, 230, 219, 0.7);
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1/1;
    padding: 2rem;
}

.ellipse-text h2 {
    padding-left: 3.5rem;
    padding-bottom: .4rem;
    font-family: 'Afacad';
    font-size: 5vw;
    width: fit-content;
}

.ellipse-text p {
    font-size: 1.3vw;
    text-align: center;
    align-items: center;
}

.ellipse-text span {
    font-style: italic;
}

.ellipse-text div:first-child {
    transform: translateY(-20%); 
}

.ellipse-text div:last-child {
    transform: translateY(20%);
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Kontakt */

.hitta-hit div {
    display: flex;
    gap: 1rem;
    margin: 1rem;
}

.kontaktImg {
    height: 1.1rem;
}

form {
    width: 30rem;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 5rem;
}

form input, textarea {
    width: 26.8rem;
    min-height: 1.8rem;
    height: auto;
    background-color: #F0E6DB;
    border: none;
    border-radius: 3px;
    padding: .5rem 1rem;
    resize: vertical;
    margin: 1.5rem 0;
}

textarea {
    field-sizing: content;
    max-height: calc(10lh + .5rem);
    min-height: 5lh;
    width: 100%;
}

#submit {
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.formmargin {
    margin: 0 1.5rem;
}

.formmargin h3 {
    text-align: center;
}

.center-form {
    padding: 0;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Kalender */
.img-kalender {
    width: 70vw;
    margin: 0 auto;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Responsivitet - Mobil */

@media screen and (max-width: 1200px){

    .block-row {
        flex-direction: column;
    }

    .block-column {
        gap: 1rem;
        margin: 0 3rem;
    }

    /*Header*/
    .logo {
        margin: auto 1rem;
    }
    .social-icons {
        margin: auto  1rem;
    }

    section .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 2rem;
    }

    h3 {
        text-align: center;
    }

    /* Våra Hästar*/
    .hästar {
        flex-direction: column;
    }

    /*Tävling*/
    .vertical-line3 {
        width: 85vw;
        height: 1px;
        margin: 3rem auto;
    }

    video {
        width: 100%;
    }


    /*Kontakt*/
    .hitta-hit {
        justify-items: center;
        text-align: center;
        margin: 0 auto;
    }

    .center-form {
        margin: auto auto;
    }

}

@media screen and (max-width: 900px) {

    /*Startsida - Mobil*/
    .block1-startsida {
        margin: 2rem auto;
    }

    .button-startsida {
        grid-template-columns: auto;
        gap: 3rem;
        margin-top: 5rem;
    }
    
    .block1-startsida p {
        font-size: 1rem;
    }

    /*Tävling*/
    .block-column {
        align-items: center;
    }

    /*Om Oss*/
    .textrutor {
        flex-direction: column;
        gap: 2rem;
        margin: 0 auto;
    }
    .textrutor-styrelsen {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .textrutor-styrelsen p {
        text-align: center;
    }

    h4 {
        padding: 0.5rem 2rem;
        transform: translateX(0);
        align-items: center;
    }

    h3 {
        align-self: center;
    }

    /*Börja Rida*/
    .ellipse-text {
        flex-direction: column;
        justify-content: center;
        margin: 4rem 0;
        gap: 1rem;
    }

    .ellipse-text div{
        width: 40%;
    }

    .ellipse-text div:first-child {
        transform: translateY(0); 
    }
    
    .ellipse-text div:last-child {
        transform: translateY(0);
    }
    
}

@media screen and (max-width: 600px) {

    .block-column {
        margin: 0 1rem;
    }

    /* Våra Hästar - Mobil*/
    .img-hästar-VåraHästar {
        grid-template-columns: 190px 190px;
    }

    /*Om Oss*/



}








